.bus-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    margin-left:-5px; margin-top:0;
}

.bus-title {
    display: block;
    background-color: white;
    position: absolute;
    margin-left:25px;
    margin-top:25px;
    padding: 2px;
    color: orange;
    font-weight: bold;
}

.spinner {
    display: inline-grid;
    height: 10px;
    width: 10px;
    margin: 0 auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border: 2px solid rgba(0, 174, 239, .15);
    border-top-color: rgba(0, 174, 239, .8);
    border-radius: 100%;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}